@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@500;700&display=swap');
$dark-grayish-blue: hsl(217, 19%, 35%);
$light-grayish-blue: hsl(210, 46%, 95%);
$grayish-blue: hsl(212, 23%, 69%);
$desaturated-blue: hsl(214, 17%, 51%);
