@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@500;700&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ecf2f8;
  color: #48556a;
  line-height: 1.2;
}

main {
  min-height: 50%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  width: 60vw;
  border-radius: 10px;
  background-color: #FFF;
}

.image {
  width: 100%;
  border-radius: 10px 0 0 10px;
  background: url("../images/drawers.jpg") no-repeat;
  background-size: 100% 100%;
}

.content {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  padding: 2rem;
}
.content h1 {
  margin: 1rem;
  font-weight: 700;
}
.content p {
  margin: 1rem;
  color: #6d7f97;
  font-weight: 500;
}

.personal-info {
  display: flex;
  align-items: center;
  margin: 1rem;
  position: relative;
}
.personal-info p {
  font-size: 1.2rem;
  margin: 1rem;
  font-weight: 700;
}
.personal-info p .date {
  display: block;
  font-size: 1rem;
  color: #9eafc2;
  font-weight: 500;
}
.personal-info .person {
  width: 3.5rem;
  border-radius: 50%;
}
.personal-info .share-icon {
  margin-right: 1rem;
  padding: 0.7rem 0.8rem;
  margin-left: auto;
  object-fit: contain;
  border-radius: 50%;
  background-color: #ecf2f8;
  cursor: pointer;
  transition: 500ms all ease-in-out;
}
.personal-info .share-icon.open {
  background-color: #48556a;
}
.personal-info .share-icon.open img {
  filter: brightness(0) invert(100%) sepia(100%) saturate(1%) hue-rotate(43deg) brightness(102%) contrast(101%);
}

.share {
  visibility: hidden;
  display: flex;
  position: absolute;
  top: -70px;
  right: -113px;
  background-color: #48556a;
  color: #9eafc2;
  padding: 0.3rem 2.3rem;
  border-radius: 15px;
  opacity: 0;
  transition: opacity 500ms linear, visibility 500ms linear;
}
.share .arrow {
  display: block;
  border: 20px solid transparent;
  border-top-color: #48556a;
  width: 0;
  height: 0;
  margin: 0;
  position: absolute;
  bottom: -35px;
  right: 45%;
  left: 45%;
}
.share img {
  object-fit: contain;
  margin-inline: 1rem;
  cursor: pointer;
}
.share.open {
  visibility: visible;
  opacity: 1;
  transition: opacity 500ms linear;
}

@media (max-width: 1024px) {
  main {
    width: 90%;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, 1fr);
    border-radius: 10px;
  }

  .image {
    width: 100%;
    border-radius: 10px 10px 0 0;
  }

  .content {
    padding-bottom: 0;
    position: relative;
  }

  .personal-info {
    position: static;
    margin-bottom: 0;
  }
  .personal-info .share-icon {
    position: relative;
    z-index: 2;
  }
  .personal-info .share-icon.open {
    background-color: #6d7f97;
  }

  .share {
    padding: 1rem;
    border-radius: 0 0 10px 10px;
    width: 100%;
    position: absolute;
    top: unset;
    left: 50%;
    transform: translate(-50%, 0);
  }
  .share .arrow {
    display: none;
  }
}

/*# sourceMappingURL=home.css.map */
