@use "config" as *;

main {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 2rem;
  margin-top: 14rem;
}

section {
  width: 750px;
  padding: 3rem;
  border: 1px solid $light-gray;
  border-radius: 12px;
  background-color: $white;
}

/* Product header section */
.product-header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
  position: relative;
  text-align: center;

  &__logo {
    width: 60px;
    position: absolute;
    top: -30px;
  }

  &__title {
    font-size: 1.8rem;
  }

  &__text {
    color: $dark-gray;
    font-size: 1rem;
  }

  &__buttons {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 2rem;
  }

  &__back-project-button {
    width: 200px;
    height: 56px;
    border: none;
    border-radius: 30px;
    font-size: 1rem;
    font-weight: 500;
    color: $white;
    cursor: pointer;
    background-color: $moderate-cyan;
    transition: 500ms all ease-in-out;

    &:hover {
      background-color: $dark-cyan;
    }
  }

  &__bookmark-button {
    height: 56px;
    border: none;
    padding-right: 2rem;
    border-radius: 30px;
    display: flex;
    align-items: center;
    gap: 1rem;
    font-size: 1rem;
    font-weight: 700;
    color: $dark-gray;
    cursor: pointer;
    transition: 500ms all ease-in-out;

    svg * {
      transition: 500ms all ease-in-out;
    }

    &:hover {
      color: $moderate-cyan;

      svg circle {
        fill: $moderate-cyan;
      }

      svg path {
        fill: $white;
      }
    }

    &.bookmarked {
      color: $dark-cyan;

      svg circle {
        fill: $dark-cyan;
      }

      svg path {
        fill: $white;
      }
    }
  }
}

/* Product Details Section */
.product-details {
  display: flex;
  flex-direction: column;
  gap: 2rem;

  &__info {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
  }

  &__text-info {
    color: $dark-gray;
  }

  &__text-info:nth-of-type(2) {
    border-left: 1px solid $light-gray;
    border-right: 1px solid $light-gray;
    padding-left: 2rem;
  }

  &__current-info {
    display: block;
    font-size: 1.8rem;
    font-weight: 700;
    color: $black;
    margin-bottom: 0.5rem;
  }

  &__bar {
    width: 100%;
    height: 12px;
    border-radius: 8px;
    background-color: $light-gray;
  }

  &__bar-color {
    display: block;
    width: 80%;
    height: 100%;
    border-radius: 8px;
    background-color: $moderate-cyan;
  }
}

/* Product about section */
.product-about {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  line-height: 1.5;

  &__title {
    font-size: 1.5rem;
  }

  &__text {
    color: $dark-gray;
  }

  &__option {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
    padding: 2rem;
    border: 1px solid $light-gray;
    border-radius: 12px;
  }

  &__option-header {
    grid-column: 1/-1;
    display: flex;
    justify-content: space-between;
    font-size: 1.2rem;
    font-weight: 700;
  }

  &__option-pledge-amount {
    color: $moderate-cyan;
    font-size: 1rem;
    font-weight: 500;
  }

  &__option-text {
    grid-column: 1/-1;
    color: $dark-gray;
  }

  &__option-left-number {
    grid-column: 1/2;
    color: $dark-gray;
    display: flex;
    align-items: center;
    gap: 0.5rem;

    span {
      font-weight: 700;
      font-size: 2rem;
      color: $black;
    }
  }

  &__option-select-button {
    grid-column: 2/3;
    justify-self: flex-end;
    min-width: 180px;
    height: 50px;
    border: none;
    border-radius: 30px;
    color: $white;
    font-size: 1rem;
    font-weight: 500;
    background-color: $moderate-cyan;
    cursor: pointer;
    transition: 500ms all ease-in-out;

    &:hover {
      background-color: $dark-cyan;
    }

    &:disabled {
      background-color: $dark-gray;
    }
  }
}

.product-about__option:nth-of-type(3) {
  opacity: 0.5;
}


/* Back project section*/
.back-project-model {
  display: none;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  overflow-y: auto;
  overflow-x: hidden;
  background-color: hsla(0, 0%, 0%, 0.2);
  border: none;
  border-radius: 0;
  padding: 0 0 0 1rem;

  &.show {
    display: flex;
  }
}

.main-model {
  margin: 12rem 0;
  width: 750px;
  height: max-content;
  padding: 3rem;
  border: 1px solid $light-gray;
  border-radius: 12px;
  background-color: $white;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  position: relative;

  &__close-modal {
    position: absolute;
    top: 2rem;
    right: 2rem;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    cursor: pointer;
  }

  &__title {
    font-size: 1.5rem;
  }

  &__text {
    color: $dark-gray;
    margin-bottom: 1rem;
  }

  &__selection-option {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
    border: 1px solid $light-gray;
    border-radius: 12px;
    position: relative;
    line-height: 1.8;

    &::before {
      content: '';
      position: absolute;
      top: 2.3rem;
      left: 1.3125rem;
      width: 20px;
      height: 20px;
      border-radius: 50%;
      border: 1px solid $light-gray;
      cursor: pointer;
    }

    &::after {
      content: '';
      position: absolute;
      top: 2.4875rem;
      left: 1.5rem;
      width: 16px;
      height: 16px;
      border-radius: 50%;
      background-color: $moderate-cyan;
      display: none;
    }

    &.active {
      border-color: $moderate-cyan;

      &::after {
        display: block;
      }

      .main-model__selection-option-pledge {
        display: grid;
      }
    }

    &:nth-of-type(4) {
      opacity: 0.5;
    }
  }

  &__selection-option-info {
    padding: 2rem 2rem 2rem 4rem;
    display: grid;
    grid-template-columns: auto 1fr;
  }

  &__selection-option-title {
    font-size: 1.1rem;
    transition: 500ms all ease-in-out;
    cursor: pointer;
    display: flex;
    gap: 1rem;
    align-items: center;
    grid-column: 1/2;
    grid-row: 1/2;

    &:hover {
      color: $moderate-cyan;
    }
  }

  &__selection-option-amount {
    color: $moderate-cyan;
    font-size: 1rem;
  }

  &__selection-option-text {
    grid-column: 1/-1;
    color: $dark-gray;
    font-size: 1rem;
  }

  &__selection-option-left-number {
    grid-column: 2/3;
    grid-row: 1/2;
    justify-self: flex-end;
    display: flex;
    align-items: flex-end;
    gap: 0.5rem;
    color: $dark-gray;

    span {
      color: $black;
      font-weight: 700;
      font-size: 1.2rem;
    }
  }

  &__selection-option-pledge {
    width: 100%;
    border-top: 1px solid $light-gray;
    padding: 2rem;
    display: none;
    grid-template-columns: 1fr 120px 120px;
    align-items: center;
    gap: 1rem;
    position: relative;
  }

  &__selection-option-pledge-label {
    color: $dark-gray;
  }

  &__selection-option-pledge-input {
    width: 120px;
    height: 50px;
    border-radius: 25px;
    border: 1px solid $light-gray;
    outline: none;
    text-indent: 40px;
    font-size: 1rem;
    font-weight: 500;

    &::-webkit-inner-spin-button {
      display: none;
    }

    &:active,
    &:hover,
    &:focus {
      outline: 1px solid $moderate-cyan;
    }
  }

  &__selection-option-pledge-dollar {
    position: absolute;
    right: 15.8rem;
    top: 2.8rem;
    color: $dark-gray;
    font-size: 0.85rem;
    font-weight: 700;
  }

  &__selection-option-pledge-continue {
    width: 120px;
    height: 50px;
    border-radius: 25px;
    background-color: $moderate-cyan;
    border: none;
    color: $white;
    font-weight: 500;
    cursor: pointer;
    transition: 500ms all ease-in-out;

    &:hover {
      background-color: $dark-cyan;
    }
  }
}


/* Success Modal section */
.success-modal-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  overflow-y: auto;
  display: none;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: hsla(0, 0%, 0%, 0.2);
  border: none;
  border-radius: 0;
  padding: 0;

  &.active {
    display: flex;
  }
}

.success-modal {
  width: 750px;
  height: max-content;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 2rem;
  text-align: center;
  background-color: $white;
  padding: 4rem;
  border-radius: 12px;

  &__text {
    color: $dark-gray;
  }

  &__button {
    width: 120px;
    height: 50px;
    border: none;
    border-radius: 25px;
    color: $white;
    font-size: 1rem;
    font-weight: 700;
    background-color: $moderate-cyan;
    transition: 500ms all ease-in-out;
    cursor: pointer;

    &:hover {
      background-color: $dark-cyan;
    }
  }
}

@media (max-width: 750px) {

  section {
    width: 100%;
    padding-inline: 1.5rem;
  }

  /* Product header section */
  .product-header {
    &__title {
      font-size: 1.4rem;
    }

    &__buttons {
      gap: 1rem;
    }

    &__back-product-button {
      width: 100%;
    }

    &__bookmark-button {
      padding-right: 0;

      span {
        display: none;
      }
    }
  }

  /* Product details section */
  .product-details {
    align-items: center;

    &__info {
      width: max-content;
      grid-template-columns: 1fr;
      text-align: center;
    }

    &__text-info:nth-of-type(2) {
      border: none;
      border-top: 1px solid $light-gray;
      border-bottom: 1px solid $light-gray;
      padding-left: 0;
      padding-block: 1rem;
    }
  }

  /* Product about section */
  .product-about {

    &__option {
      grid-template-columns: 1fr;
    }

    &__option-header {
      flex-direction: column;
      gap: 1rem;
    }

    &__option-select-button {
      grid-column: 1/-1;
      justify-self: flex-start;
    }
  }

  /* Selection Modal Section */
  .back-project-model {
    padding-right: 2rem;
    padding-left: 2rem;
  }

  .main-model {
    width: 100%;
    padding: 1.5rem;

    &__selection-option-info {
      padding: 1.5rem;
      grid-template-columns: 1rem 1fr;
      gap: 1rem;
    }

    &__selection-option-title {
      grid-column: 2/-1;
      flex-direction: column;
      align-items: flex-start;
      gap: 0.5rem;
    }

    &__selection-option-left-number {
      grid-column: 1/-1;
      grid-row: unset;
      justify-self: flex-start;
    }

    &__selection-option-pledge {
      grid-template-columns: 1fr 1fr;
      justify-items: center;
    }

    &__selection-option-pledge-label {
      grid-column: 1/-1;
      text-align: center;
    }

    &__selection-option-pledge-input {
      width: 100%;
      justify-self: flex-start;
    }

    &__selection-option-pledge-dollar {
      bottom: 2.75rem;
      left: 3.8rem;
      top: unset;
      right: unset;
    }

    &__selection-option-pledge-continue {
      width: 100%;
    }
  }

  /* Success Modal Section*/
  .success-modal-container {
    padding: 1.5rem;
  }

  .success-modal {
    width: 100%;
    padding: 2rem;
  }
}