html {
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: hsl(0, 0%, 98%);
    line-height: 1.5;
}

header {
    width: 80%;
    padding: 3rem 1rem 1rem;
    text-align: center;
    margin: 1rem auto 0;
}

h1 {
    font-size: 1.5rem;
    font-weight: 200;
}

h2 {
    color: hsl(234, 12%, 34%);
    font-size: 1.8rem;
    margin-top: 0.5rem;
}

header p {
    color: hsl(229, 6%, 66%);
    font-weight: 400;
    margin-top: 1.5rem;
}

main {
    width: 90%;
    margin: 1rem;
}

main section {
    width: 100%;
}

h3 {
    font-weight: 600;
    font-size: 1.8rem;
    color: hsl(234, 12%, 34%);
    padding: 1rem 0.5rem 0.5rem;
}

main p {
    font-size: 1rem;
    color: hsl(229, 6%, 66%);
    padding: 0.5rem;
    font-weight: 400;
}

.group div:nth-of-type(2) {
    display: flex;
    justify-content: flex-end;
    padding: 2rem 1rem;
}

.group {
    border-radius: 10px;
    border: 1px solid white;
    margin: 2rem auto;
    padding: 2rem;
    box-shadow: 0 3px 5px 0 hsl(229, 6%, 66%);
}

#supervisor .group {
    border-top: 4px solid hsl(180, 62%, 55%);
}

#karma-team .group:first-child {
    border-top: 4px solid hsl(0, 78%, 62%);
}

#karma-team .group:last-child {
    border-top: 4px solid hsl(34, 97%, 64%);
}

#calculator .group:last-child {
    border-top: 4px solid hsl(212, 86%, 64%);
}

@media (min-width: 800px) {
    body {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    main {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
    }

    header {
        width: 30%;
        margin: 0;
        padding: 1rem 0 0;
    }

    #supervisor .group {
        width: 75%;
        margin: 3rem -1rem;
    }
    #karma-team .group {
        width: 75%;
        margin: 3rem auto;
    }
    #calculator .group {
        width: 75%;
        margin: 3rem 2rem;
    }
}

@media (min-width: 800px) and (max-width: 1000px) {
    header {
        width: 50%;
    }
    main {
        width: 100%;
        padding: 0 1rem;
    }
}

@media (min-width: 1000px) and (max-width: 1400px) {
    header {
        width: 40%;
    }
    main {
        width: 90%;
    }
}

@media (min-width: 1400px) and (max-width: 1600px) {
    main {
        width: 80%;
    }
}
@media  (min-width: 1600px) {
    main {
        width: 70%;
    }
}