@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

$linear: 180deg, hsl(273, 75%, 66%), hsl(240, 73%, 65%);
$purple: #573fb5;
$divider: hsl(240, 5%, 91%);
$dark-grayish-blue: hsl(240, 6%, 50%);
$very-dark-grayish-blue: hsl(237, 12%, 33%);
$soft-red: hsl(14, 88%, 65%);
$dark-desaturated-blue: hsl(238, 29%, 16%);