

main {
  width: 100%;

  section {
    border-radius: 15px;
    width: 70%;
    display: flex;
    gap: 4rem;
    margin: 3rem auto;
    box-shadow: 0 0 5px 0 hsl(208, 11%, 75%);
    padding: 2rem;

    .section-header {
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin-inline: 4rem;

      h2 {
        font-size: 2rem;
      }

      p {
        margin-top: 1rem;
        color: $grayish-blue;
      }
    }

    .section-img {
      img {
        width: 100%;
      }
    }
  }

  #flowing-conversation {
    flex-direction: row-reverse;
  }

  #app-starting {
    z-index: 1;
    position: relative;
    padding: 3rem 5rem;
    width: 50%;
    flex-direction: column;
    align-items: center;
    margin: 8rem auto -10rem;
    background-color: #FFF;

    h2 {
      font-size: 1.8rem;
    }


  }
}

@media (min-width: 1024px) {
  #app-starting {
    .pink-button {
      width: fit-content;
      font-size: 1.5rem;
      padding: 1.5rem 5rem;
      border-radius: 80px;
    }
  }
}

@media (max-width: 1024px) {
  main {
    width: 100vw;
    padding: 0;
    text-align: center;

    section {
      width: 90%;
      flex-direction: column-reverse;

      .section-header {
        margin-inline: 0;
      }
    }

    #flowing-conversation {
      flex-direction: column-reverse;
    }

    #app-starting {
      width: 90vw;

      h2 {
        font-size: 1.5rem;
      }
    }
  }
}