@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

// Primary Colors
$lime-green: hsl(163, 72%, 41%);
$bright-red: hsl(356, 69%, 56%);
$facebook: hsl(208, 92%, 53%);
$twitter: hsl(203, 89%, 53%);
$instagram: hsl(37, 97%, 70%), hsl(329, 70%, 58%);
$youtube: hsl(348, 97%, 39%);

// Light Mode Colors
html[data-theme='light'] {
  --background-color: hsl(0, 0%, 100%);
  --top-bg-pattern: hsl(225, 100%, 98%);
  --card-background: hsl(227, 47%, 96%);
  --text-1: hsl(228, 12%, 44%);
  --text-2: hsl(230, 17%, 14%);
  --toggle: hsl(230, 22%, 74%);
}

// Dark Mode Colors
html[data-theme='dark'] {
  --background-color: hsl(230, 17%, 14%);
  --top-bg-pattern: hsl(232, 19%, 15%);
  --card-background: hsl(228, 28%, 20%);
  --text-1: hsl(228, 34%, 66%);
  --text-2: hsl(0, 0%, 100%);
  --toggle: linear-gradient(90deg, hsl(210, 78%, 56%), hsl(146, 68%, 55%));
}

// Animation
@mixin animate($name) {
  animation-name: $name;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in-out;
}

@keyframes move-right {
  0% {
    transform: translateX(60rem);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes move-left {
  0% {
    transform: translateX(-60rem);
  }
  100% {
    transform: translateX(0);
  }
}