* {
  box-sizing: border-box;
}

body {
  width: 100vw;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  background-color: hsl(204, 43%, 93%);
  padding: 1rem;
  line-height: 1.5;

  header {
    width: 90%;
    color: hsl(218, 22%, 67%);
    background-color: #FFFFFF;
    padding: 1.5rem 1.5rem 0;
    border-radius: 10px 10px 0 0;

    h1 {
      font-size: 1.5rem;
      color: hsl(179, 62%, 35%);
      margin: 1rem 0;
    }

    p {
      font-size: 1.1rem;
      margin: 1rem 0 ;
    }

    p:nth-of-type(1) {
      color: hsl(71, 73%, 54%);
      font-size: 1.3rem;
    }
  }

  main {
    width: 90%;
    display: grid;
    grid-template-columns: 1fr;
    color: hsl(204, 43%, 93%);

    #subscription {
      background-color: hsl(179, 62%, 35%);
      padding: 1.5rem;

      button {
        width: 100%;
        padding: 1rem;
        border-radius: 5px;
        border: none;
        background-color: hsl(71, 73%, 54%);
        color: #FFFFFF;
        margin: 1rem auto;
        box-shadow: 0 10px 10px hsl(179, 62%, 40%);

        &:hover {
          background-color: hsl(71, 73%, 45%);
          color: hsl(179, 62%, 40%);
        }
      }

      h2 {
        font-size: 1.4rem;
        margin: 1rem 0;
      }

      p {
        margin: 1rem 0;
      }

      p:nth-of-type(1) {
        color: hsl(218, 22%, 67%);

        span {
          color: #FFFFFF;
          margin-right: 1rem;
          font-size: 1.5rem;
        }
      }
    }

    #why-us {
      border-radius: 0 0 10px 10px;
      padding: 1.5rem;
      background-color: hsl(179, 62%, 43%);
      line-height: 1.1;

      h3 {
        font-size: 1.3rem;
        margin: 1rem 0;
      }

      p {
        font-size: 0.9rem;
      }
    }
  }
}

@media (min-width: 1024px) {
  body {
    height: 100vh;

    header {
      height: 28%;
      width: 50%;
      border-radius: 10px 10px 0 0;
      padding: 2rem 3rem;
    }

    main {
      width: 50%;
      height: 30%;
      grid-template-columns: repeat(2, 1fr);

      #subscription {
        border-radius: 0 0 0 10px;
        padding: 2rem 3rem;
      }

      #why-us {
        border-radius: 0 0 10px 0;
        line-height: 1.5;
        padding: 2rem 3rem;
      }
    }
  }
}

@media (min-width: 900px) and (max-width: 1440px) {
  header {
    width: 80%;
    padding: 2rem 2rem 0;
  }
  main {
    width: 80%;
    #subscription {
      padding: 2rem;
    }
    #why-us {
      padding: 2rem;
      p {
        font-size: 1.2rem;
      }
    }
  }
}