html {
    box-sizing: border-box;

}

body {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: hsl(217, 54%, 11%);
    font-family: "Outfit", sans-serif;

}


main {
    max-width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: hsl(216, 50%, 16%);
    border-radius: 10px;
    margin: 1rem;
}
div {
    width: 80%;
    padding: 0;
    margin: 0;
}
/* image section*/
#image-section {
    display: flex;
    justify-content: center;
    margin: 0.8rem 0;
}

.equilibrium {
    width: 100%;
    border-radius: 10px;
    margin: 1rem 0.5rem;
}
/* header section */
#header-section {
    padding: 2rem;
}
h1 {
    font-weight: 600;
    color: hsl(0, 0%, 100%);
    font-size: 1.5rem;
    margin-bottom: 1rem;
}
p {
    font-size: 18px;
    color: hsl(215, 51%, 70%);
    font-weight: 400;
}
/* info section */
#info-section {
    display: flex;
    flex-direction: row;
    margin: 1rem;
}
#info-section div:nth-of-type(1) p {
    color: hsl(178, 100%, 50%);
}
#info-section div {
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    padding: 0;
}
#info-section div:nth-of-type(2) {
    justify-content: flex-end;
}
#info-section div img {
    padding: 0 0.4rem 0 0;
}
/* footer section */
#footer-section {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding:  0.6rem 0;
    border-top: 1px solid hsl(215, 32%, 27%);
    margin: 0 0 1rem;
}
#footer-section img {
    width: 15%;
    border: 1px solid white;
    border-radius: 50%;
}
#footer-section p {
    font-weight: 300;
    padding: 1rem;
    font-size: 1rem;
}
.creator {
    color: white;
    font-weight: 300;
}
